@model AdmissionFinal.Entity.Student

@{
    ViewBag.Title = "StudentDetails";
}

<div class="page-header">
	<h2>StudentDetails</h2>
</div>

<fieldset>
    <legend>Student</legend>
    <br />
    <div class="row">
        <div class="span2">@Html.LabelFor(model => model.RegistrationNumber)</div>
        <div class="span10">@Html.DisplayFor(model => model.RegistrationNumber)</div>
    </div>
    <div class="row">
        <div class="span2">@Html.LabelFor(model => model.Name)</div>
        <div class="span10">@Html.DisplayFor(model => model.Name)</div>
    </div>

    <div class="row">
        <div class="span2">@Html.LabelFor(model => model.FatherName)</div>
        <div class="span10">@Html.DisplayFor(model => model.FatherName)</div>
    </div>

    <div class="row">
        <div class="span2">@Html.LabelFor(model => model.MotherName)</div>
        <div class="span10">@Html.DisplayFor(model => model.MotherName)</div>
    </div>

    <div class="row">
        <div class="span2">@Html.LabelFor(model => model.CurrentAddress)</div>
        <div class="span10">@Html.DisplayFor(model => model.CurrentAddress)</div>
    </div>

    <div class="row">
        <div class="span2">@Html.LabelFor(model => model.PermanentAddress)</div>
        <div class="span10">@Html.DisplayFor(model => model.PermanentAddress)</div>
    </div>

    <div class="row">
        <div class="span2">@Html.LabelFor(model => model.ContactNumber)</div>
        <div class="span10">@Html.DisplayFor(model => model.ContactNumber)</div>
    </div>

    <div class="row">
        <div class="span2">@Html.LabelFor(model => model.SSCYear)</div>
        <div class="span10">@Html.DisplayFor(model => model.SSCYear)</div>
    </div>

    <div class="row">
        <div class="span2">@Html.LabelFor(model => model.HSCYear)</div>
        <div class="span10">@Html.DisplayFor(model => model.HSCYear)</div>
    </div>

    <div class="row">
        <div class="span2">@Html.LabelFor(model => model.SSCGPA)</div>
        <div class="span10">@Html.DisplayFor(model => model.SSCGPA)</div>
    </div>

    <div class="row">
        <div class="span2">@Html.LabelFor(model => model.HSCGPA)</div>
        <div class="span10">@Html.DisplayFor(model => model.HSCGPA)</div>
    </div>

    <div class="row">
        <div class="span2">@Html.LabelFor(model => model.Session)</div>
        <div class="span10">@Html.DisplayFor(model => model.Session)</div>
    </div>

    <div class="row">
        <div class="span2">@Html.LabelFor(model => model.Hall.HallName)</div>
        <div class="span10">@Html.DisplayFor(model => model.Hall.HallName)</div>
    </div>
            
</fieldset>
<br/>
<br/>
<br/>
<br/>
<p>@Html.ActionLink("Back to List","ViewStudentInformation")</p>
<br />

