@model AdmissionFinal.Entity.Student

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FatherName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FatherName)
            @Html.ValidationMessageFor(model => model.FatherName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MotherName)
        </div>
        
        <div class="editor-field">
            @Html.EditorFor(model => model.MotherName)
            @Html.ValidationMessageFor(model => model.MotherName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurrentAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurrentAddress)
            @Html.ValidationMessageFor(model => model.CurrentAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PermanentAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PermanentAddress)
            @Html.ValidationMessageFor(model => model.PermanentAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SSCYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SSCYear)
            @Html.ValidationMessageFor(model => model.SSCYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HSCYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HSCYear)
            @Html.ValidationMessageFor(model => model.HSCYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SSCGPA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SSCGPA)
            @Html.ValidationMessageFor(model => model.SSCGPA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HSCGPA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HSCGPA)
            @Html.ValidationMessageFor(model => model.HSCGPA)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Session)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Session)
            @Html.ValidationMessageFor(model => model.Session)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactNumber)
            @Html.ValidationMessageFor(model => model.ContactNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DepartmentId, "department")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DepartmentId", String.Empty)
            @Html.ValidationMessageFor(model => model.DepartmentId)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
